<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Loop Golf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C9B0D39D1DA20DD3008C4DDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9B0D3B31DA20DD4008C4DDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9B0D3BE1DA20DD4008C4DDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
